/* .slider::before{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgb(255, 1, 1);
} */
*{
  margin: auto;
  padding: 0%;
  box-sizing: border-box;
}